.container {
    max-width: 100px;
    margin: 0 auto;
    padding-top: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
h1 {
    padding-top: 40px;
    color: rgb(119, 25, 25);
    align-items: center;
    font-size: 50px;
    font-family: cursive;
    font-weight: 500;
}
.input-group{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.button {
    padding: 10px 20px;
    background-color: #ff6666;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-edit {
    background-color: #ffcc00;
    color: white;
    margin-left: 10px;
}

.button-delete {
    background-color: #ff6666;
    color: white;
    margin-left: 10px;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
body{
    display: block; 
}